@import './variables';
@import '../mixins/responsive';

.Page,
.Container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    color: $light;

    @media (min-width: 768px) {
        width: 750px;
    }
    @media (min-width: 992px) {
        width: 970px;
    }
    @media (min-width: 1200px) {
        width: 1170px;
    }
}

.ContentRow {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: -15px;
    margin-right: -15px;
    min-height: 300px;

    @include for-phone-only {
        margin-left: -10px;
        margin-right: -10px;
    }

    & > :nth-child(n) {
        width: calc(25% - 30px);
        margin-left: 15px;
        margin-right: 15px;

        @include for-phone-only {
            width: calc(50% - 20px);
            margin-left: 10px;
            margin-right: 10px;
        }
    }
}

.ImageContainer {
    width: 100%;
    height: 100%;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: left;
    }
}


.Centered {
    display: flex;
    align-items: center;
    justify-content: center;
}

.infinite-scroll-component {
    overflow: hidden !important;
}

.no-scroll {
    overflow: hidden;
}

.sr-only {
    display: none;
}