// Colors
$dark: #202020;
$light: #ffffff;
$accent: #2e2e2e;
$text-muted: #d4d4d4;
$marvel-red: #ed1d24;
$marvel-red-darker: #b30f14;

// Fonts
$primary-font: 'Roboto', sans-serif;
$secondary-font: 'Roboto Condensed', sans-serif;
