@import '../../base/variables';

.Controls {
    display: flex;
    align-items: center;
    justify-content: center;

    &-control {
        color: $light;
        font-size: 1.1em;
    }

    &-title {
        font-size: 16px;
        font-family: $secondary-font;
        text-transform: uppercase;
    }

    &-options {
        padding-left: 0px;
        list-style: none;
        margin-top: 5px;

        li {
            cursor: pointer;
            transition: 0.3s;
            display: flex;
            align-items: center;
            padding: 6px;
            font-size: 14px;

            &:hover {
                background-color: darken($dark, 1.5);
            }
        }
    }

    &-search {
        color: $light;
        border: 1px solid $light;
        border-radius: 32px;
        padding: 0px 15px;

        select {
            border: none;
            width: 80px;
            margin-right: 20px;
        }
    }
}
