@import '../../base/variables';

.ComicCard {
    display: flex;
    flex-direction: column;
    color: $light;
    text-decoration: none;

    a {
        text-decoration: none;
        color: $light;
    }

    &-coverContainer,
    &-wrapper {
        height: 100%;
    }

    &-cover {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: left;
    }

    &-imagePlaceholder {
        width: 100%;
        height: 100%;
        background-color: red;
    }
}
