@import "../../../scss/base/variables";
@import '../../mixins/responsive';

.PageCover {
    height: 450px;
    background-color: $accent;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
    color: $light;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;

    @include for-phone-only {
        height: 180px;
    }

    h1 {
        font-family: $secondary-font;
        text-transform: uppercase;
        font-size: 3em;

        @include for-phone-only {
            font-size: 2em;
        }
    }

    @include for-phone-only {
        text-align: center;
    }
}