@import '../../base/variables';
@import '../../mixins/responsive';

.CharacterPage {
    &-header {
        display: flex;
        align-items: center;
        justify-content: space-between;

        @include for-phone-only {
            flex-wrap: wrap;
            text-align: center;
            justify-content: center;
            
            h2 {
                width: 100%;
            }

            .search {
                margin-bottom: 20px;
                margin-right: 10px;
            }

            .filters {
                margin-bottom: 20px;
                margin-left: 10px;
            }
        }
    }

    &-controls {
        display: flex;
    }
}
