@import '../../mixins/responsive';
@import '../../base/variables';

.NavBar {
    display: flex;
    flex-direction: row;
    background-size: cover;
    height: 64px;
    background-color: $dark;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    

    &-logo {
        width: 64px;
        height: 100%;
        background-color: $marvel-red;
        background-image: url('../../../img/icon.png');
        background-size: cover;
        background-repeat: no-repeat;

        @include for-phone-only {
            width: 48px;
            height: 48px;
        }
    }

    &-logoContainer {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 64px;
    }

    &-menu {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-grow: 1;
        padding-left: 0px;
        padding-right: 64px;

        @include for-phone-only {
            display: none;
        }
    }

    &-menuItem {
        text-align: center;
        list-style: none;
    }

    &-link {
        color: $light;
        font-size: 1.2rem;
        font-weight: 500;
        font-family: $secondary-font;
        margin-left: 1rem;
        margin-right: 1rem;
        text-transform: uppercase;
        text-decoration: none;

        @include for-phone-only {
            font-size: 0.9em;
            margin-left: 0.5em;
            margin-right: 0.5em;
        }
    }

    &-menuToggle {
        display: none;
        color: $light;
        font-size: 1.5em;
        width: 64px;
        height: 100%;

        @include for-phone-only {
            display: block;
        }
    }

    &-mobileMenu {
        display: none;
        position: fixed;
        width: 100vw;
        height: 100vh;
        top: 0;
        right: -100vw;
        background-color: transparentize($dark, 0.05);
        transition: 0.3s;
        z-index: 99;
        flex-direction: column;

        &.open {
            right: 0;
        }

        @include for-phone-only {
            display: flex;
        }
    }

    &-mobileMenuToggle {
        display: flex;
        justify-content: flex-end;
        padding: 1em 1em;

        button {
            color: $light;
            font-size: 1.5em;
        }
    }

    &-mobileMenu &-menu {
        display: flex;
        flex-direction: column;
        padding: 0em 1em;
        align-items: end;
        justify-content: start;
    }

    &-mobileMenu &-menu &-menuItem {
        font-size: 1.5em;
        margin-bottom: 0.5em;
    }
}
