@import '../../mixins/responsive';
@import '../../base/variables';

.NavBar {
    display: flex;
    flex-direction: column;
    background-size: cover;
    height: 64px;
    background-color: $dark;
    justify-content: center;
    width: 100%;

    &-menu {
        display: flex;
        align-items: center;
        justify-content: center;

        @include for-phone-only {
            padding-left: 0px;
        }
    }

    &-menuItem {
        text-align: center;
        list-style: none;
    }

    &-link {
        color: $light;
        font-size: 1.2rem;
        font-weight: 500;
        font-family: $secondary-font;
        margin-left: 1rem;
        margin-right: 1rem;
        text-transform: uppercase;
        text-decoration: none;

        @include for-phone-only {
            font-size: 0.9em;
            margin-left: 0.5em;
            margin-right: 0.5em;
        }
    }
}
